@page
@model ProjectPRN221.Pages.Account.RegisterModel
@{
}

<div style="width: 400px;height:600px;background-color:blanchedalmond;margin: 80px auto;">
    <h3 style="text-align: center;padding: 20px;font-weight:bold;">
        Register
    </h3>
    <form>
        <div style="margin: 20px 20px;">
            <div>Username</div>
            <input type="text" style="width: 100%" />
        </div>
        <div style="margin: 20px 20px;">
            <div>Password</div>
            <input type="password" style="width: 100%" />
        </div>
        <div style="margin: 20px 20px;">
            <div>Confirm Password</div>
            <input type="password" style="width: 100%" />
        </div>
        <div style="margin: 20px 20px;">
            <div>Email</div>
            <input type="email" style="width: 100%" />
        </div>
        <div style="margin: 20px 20px;">
            <div>Phone Number</div>
            <input type="text" style="width: 100%" />
        </div>
        <div style="margin: 30px 20px;">
            <input type="submit" value="Register" style="width: 100%" class="btn btn-success" />
        </div>
    </form>
</div>
